
/* --------------------------------------
   Navbar 
   -------------------------------------- */
  .navbar-brand {
   padding-top: 0px;
   padding-bottom: 0px;
  }/*--loge的設定--*/


/* --------------------------------------
   Carousel  中間的圖片切換
   -------------------------------------- */
   #myCarousel {
     margin-top: 60px;
     font-size: 1rem;
      margin-bottom: 60px;
   }

   .carousel-caption {
     font-size: 1.5em;
   }

   .carousel-caption h4 {
     font-size: 2em;
   }

   #myCarousel .item {height: 400px;}

   #slide1 {
     background: url("images/carousel_medium_01.jpg") top center repeat;
   }/*--圖片設定 語法 http://www.w3schools.com/cssref/css3_pr_background.asp--*/

   #slide2 {
     background: url("/images/carousel_medium_02.jpg") top center repeat;
   }

   #slide3 {
     background: url("/images/carousel_medium_03.jpg") top center repeat;
   }
   /* main CONTENT
   -------------------------------------------------- */
   #main .col-lg-5 li{
     list-style: none;
   }
   /* --------------------------------------
      Media Queries rwd 的設定
      -------------------------------------- */

 @media (min-width: 1200px) {

   #myCarousel .item {height: 500px;}

   #myCarousel {font-size: 1.5rem;}

   #slide1 {
     background: url('../images/carousel_large_01.jpg') top center repeat;
   }

   #slide2 {
     background: url('../images/carousel_large_02.jpg') top center repeat;
   }

   #slide3 {
     background: url('../images/carousel_large_03.jpg') top center repeat;
   }
 }

@media (max-width: 768px) {

   #myCarousel .item {height: 310px;}

   #myCarousel {font-size: 0.8rem;}

  #slide1 {
    background: url('../images/carousel_small_01.jpg') top center repeat;
  }

  #slide2 {
    background: url('../images/carousel_small_02.jpg') top center repeat;
  }

  #slide3 {
    background: url('../images/carousel_small_03.jpg') top center repeat;
  }
}

/* --------------------------------------
   Footer 的設定
   -------------------------------------- */

footer {
  background: #333;
  color: #eee;
  font-size: 11px;
  padding: 20px;
}

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

}

/* Large desktop */
@media (min-width: 1200px) {

}
